pip==19.0.2
incremental==17.5.0
wheel==0.32.3
flake8==3.7.5
tox==3.7.0
coverage==4.5.2
Sphinx==1.8.4
twine==1.12.1
pytest==4.2.0
pytest-runner==4.2
nbconvert==5.4.1
requests==2.21.0
coveralls==1.5.1
bump2version==0.5.10
