flake8==3.7.5
Sphinx==1.8.4
pytest==4.2.0
pytest-runner==4.2
tox==3.7.0
coverage==4.5.2
pytest-cov==2.6.1
coveralls==1.5.1
bump2version==0.5.10
twine==1.12.1
pip==19.0.2
wheel==0.33.0
ipython==7.2.0
nbformat==4.4.0
nbconvert==5.4.1
requests==2.21.0
